/* common */
.item-image .input-wrap.color label {
  display: block;
  z-index: 1;
}
#app2 .item-image .input-wrap.color input#app2TitleColor,
.item-image .input-wrap input[type="color"] {
  width: 27px;
  height: 30px;
}

/* app2 */
#app2 .item-image {
  background-image: url("../images/app2_sample.webp");
}
#app2 .item-image .input-wrap {
  justify-content: center;
  padding: 30px 0;
}
#app2 .item-image .input-wrap input {
  height: 70px;
}
#app2 .item-image .input-wrap input#app2Title,
#app2 .item-image .input-wrap input::placeholder {
  font-size: 42px;
  position: relative;
  top: 5px;
  font-family: "Bodoni Moda", cursive;
  color: rgb(237, 244, 79);
}
#app2 .item-image .input-wrap input::placeholder {
  color: rgb(237, 244, 79, 0.3);
}
#app2 .item-image .input-wrap.color {
  padding: 0;
  margin-top: -20px;
}

/* app3 */
#app3 .item-image {
  background-image: url("../images/app3_sample.webp");
}
#app3 .item-image .input-wrap {
  justify-content: center;
  align-items: center;
}
#app3 .item-image .input-wrap.color {
  padding-top: 160px;
}
#app3 .item-image .input-wrap input#app3Title {
  height: 90px;
}
#app3 .item-image .input-wrap input#app3Title,
#app3 .item-image .input-wrap input#app3Title::placeholder {
  font-size: 68px;
  position: relative;
  top: 5px;
  font-family: "Bodoni Moda", cursive;
  color: rgb(251, 240, 125);
}
#app3 .item-image .input-wrap input#app3Title::placeholder {
  color: rgb(251, 240, 125, 0.5);
}
#app3 .item-image .input-wrap input#app3Sub {
  color: rgba(255, 255, 255, 0.9);
}
#app3 .item-image .input-wrap input#app3Sub,
#app3 .item-image .input-wrap input#app3Sub::placeholder {
  margin-top: 10px;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.5);
}
#app3 .file-wrap label {
  bottom: -140px;
}
#app3 .selected-image-position {
  bottom: 160px;
}

/* app4 */
#app4 .item-image {
  background-image: url("../images/app4_sample.webp");
}
#app4 .item-image .input-wrap {
  justify-content: center;
  align-items: center;
}
#app4 .item-image .input-wrap.color {
  padding-top: 280px;
}
#app4 .item-image .input-wrap input#app4Title {
  height: 90px;
}
#app4 .item-image .input-wrap input#app4Title,
#app4 .item-image .input-wrap input#app4Title::placeholder {
  font-size: 32px;
  position: relative;
  top: 5px;
  font-family: "Pacifico", cursive;
  color: rgb(187, 221, 160);
}
#app4 .item-image .input-wrap input#app4Title::placeholder {
  color: rgb(187, 221, 160, 0.5);
}
#app4 .item-image .input-wrap input#app4Date {
  font-family: "Montserrat Alternates", sans-serif;
  color: rgba(255, 255, 255, 0.9);
}
#app4 .item-image .input-wrap input#app4Date,
#app4 .item-image .input-wrap input#app4Date::placeholder {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}
#app4 .file-wrap label {
  bottom: 100px;
}
#app4 .selected-image-position {
  bottom: 100px;
}

/* app5 */
#app5 .item-image {
  background-image: url("../images/app5_sample.webp");
}
#app5 .item-image .input-wrap {
  justify-content: center;
  align-items: center;
}
#app5 .item-image .input-wrap.color {
  padding-top: 160px;
}
#app5 .item-image .input-wrap input#app5Title {
  width: 95%;
  height: 100px;
}
#app5 .item-image .input-wrap input#app5Title,
#app5 .item-image .input-wrap input#app5Title::placeholder {
  font-size: 90px;
  position: relative;
  font-family: "Monoton", sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
#app5 .item-image .input-wrap input#app5Title::placeholder {
  color: rgb(255, 255, 255, 0.5);
}
#app5 .item-image .input-wrap input#app5Sub {
  width: 95%;
  height: 60px;
}
#app5 .item-image .input-wrap input#app5Sub,
#app5 .item-image .input-wrap input#app5Sub::placeholder {
  margin-top: 1px;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 27px;
  text-indent: 1.2rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255);
}
#app5 .item-image .input-wrap input#app5Sub::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#app5 .item-image .input-wrap input[type="date"] {
  width: 40%;
  margin-top: 40px;
  color: rgba(255, 255, 255, 0.9);
}
#app5 .file-wrap label {
  bottom: 180px;
}
#app5 .selected-image-position {
  bottom: 180px;
}

/* app6 */
#app6 .item-image {
  background-image: url("../images/app6_sample.webp");
}
#app6 .item-image .input-wrap {
  justify-content: center;
  align-items: center;
}
#app6 .item-image .input-wrap.color {
  color: #ccc;
  padding-top: 160px;
}
#app6 .item-image .input-wrap.color label::before {
  content: '';
  font-family: "Alfa Slab One", sans-serif;
}
#app6 .item-image .input-wrap input#app6Title {
  width: 90%;
  height: 100px;
}
#app6 .item-image .input-wrap input#app6Title,
#app6 .item-image .input-wrap input#app6Title::placeholder {
  font-size: 90px;
  position: relative;
  font-family: "Montserrat Subrayada", "Alfa Slab One", sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
#app6 .item-image .input-wrap input#app6Title::placeholder {
  color: rgb(255, 255, 255, 0.5);
}
#app6 .file-wrap label {
  bottom: 180px;
}
#app6 .selected-image-position {
  bottom: 180px;
}

/* app7 */
#app7 .item-image {
  background-image: url("../images/app7_sample.webp");
}
#app7 .item-image .input-wrap {
  justify-content: left;
  align-items: center;
  margin-left: 12%;
}
#app7 .item-image .input-wrap.color {
  color: #ccc;
  padding-top: 320px;
  padding-left: 10px;
}
#app7 .item-image .input-wrap input {
  width: 47%;
  text-align: left;
  padding-left: 6px;
}
#app7 .item-image .input-wrap input#app7Title,
#app7 .item-image .input-wrap input#app7Title::placeholder {
  font-size: 34px;
  position: relative;
  font-family: "Oswald", sans-serif;
  color: rgb(255, 255, 255, 0.5);
  text-transform: uppercase;
}
#app7 .item-image .input-wrap input#app7Title {
  height: 46px;
  color: rgb(255, 255, 255, 0.9);
}
#app7 .item-image .input-wrap input#app7Date,
#app7 .item-image .input-wrap input#app7Date::placeholder {
  margin-top: 10px;
  font-size: 16px;
  letter-spacing: 7px;
  font-family: "Oswald", sans-serif;
  color: rgba(255, 255, 255, 0.9);
}
#app7 .file-wrap label {
  bottom: 100px;
}
#app7 .selected-image-position {
  bottom: 100px;
}
#app7 .item-image .input-wrap.color input {
  width: 27px;
  padding: 0;
}

/* app5 */
#app8 .item-image {
  background-image: url("../images/app8_sample.webp");
}
#app8 .item-image .input-wrap {
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-stretch: 1% 500%; /* Required by Chrome */
}
#app8 .item-image .input-wrap.color {
  color: #ccc;
  padding-top: 165px;
}
#app8 .item-image .input-wrap input#app8Title {
  width: 95%;
  height: 100px;
}
#app8 .item-image .input-wrap input#app8Title,
#app8 .item-image .input-wrap input#app8Title::placeholder {
  font-size: 120px;
  position: relative;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
#app8 .item-image .input-wrap input#app8Title::placeholder {
  color: rgb(255, 255, 255, 0.5);
}
#app8 .item-image .input-wrap input#app8Sub {
  width: 95%;
  height: 30px;
  margin-top: 18px;
}
#app8 .item-image .input-wrap input#app8Sub,
#app8 .item-image .input-wrap input#app8Sub::placeholder {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 22px;
  text-indent: 1.2rem;
  font-stretch: ultra-condensed;
  color: rgba(255, 255, 255);
}
#app8 .item-image .input-wrap input#app8Sub::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#app8 .item-image .input-wrap input[type="date"] {
  width: 40%;
  margin-top: 40px;
  color: rgba(255, 255, 255, 0.9);
}
#app8 .file-wrap label {
  bottom: 180px;
}
#app8 .selected-image-position {
  bottom: 180px;
}

/* app9 */
#app9 .item-image {
  background-image: url("../images/app9_sample.webp");
}
#app9 .item-image .input-wrap {
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}
#app9 .item-image .input-wrap.color {
  color: #fff;
  padding-top: 20px;
}
#app9 .item-image .input-wrap input#app9Title {
  width: 36%;
  height: 100px;
  margin-left: 0;
}
#app9 .item-image .input-wrap input#app9Title,
#app9 .item-image .input-wrap input#app9Title::placeholder {
  font-size: 60px;
  position: relative;
  font-family: "Stalemate", sans-serif;
  color: rgb(255, 255, 255);
}
#app9 .item-image .input-wrap input#app9Title::placeholder {
  color: rgb(255, 255, 255, 0.5);
}
#app9 .selected-image-position {
  top: 200px;
}

/* app10 */
#app10 .item-image {
  position: relative;
  background-color: #FFFBD8;
  background-image: none;
}
#app10 .item-image .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
#app10 .item-image .bg i {
  position: relative;
  display: block;
  background-color: rgba(0, 117, 255, 0.1);
  width: 500px;
  height: 1px;
  top: 40px;
  left: 0;
  margin-top: 30px;
}
#app10 .item-image .bg i.long {
  position: absolute;
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.1);
  width: 1px;
  height: 500px;
  top: 0;
  left: 22px;
  margin-top: 0;
}
#app10 .item-image .bg i.long2 {
  left: 25px;
}
#app10 .item-image .input-wrap {
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}
#app10 .item-image .input-wrap.color {
  color: #fff;
  padding-top: 20px;
}
#app10 .item-image .input-wrap input#app10Title {
  width: 36%;
  height: 100px;
  margin-left: 0;
}
#app10 .item-image .input-wrap input#app10Title,
#app10 .item-image .input-wrap input#app10Title::placeholder {
  font-size: 60px;
  position: relative;
  font-family: "Stalemate", sans-serif;
  color: rgb(255, 255, 255);
}
#app10 .item-image .input-wrap input#app10Title::placeholder {
  color: rgb(255, 255, 255, 0.5);
}