/* common */
.item-image .input-wrap.color label {
  display: block;
  z-index: 1;
}
#app2 .item-image .input-wrap.color input#app2TitleColor,
.item-image .input-wrap input[type="color"] {
  width: 27px;
  height: 30px;
}

/* app2 */
#app2 .item-image {
  background-image: url("../images/app2_sample.webp");
}
#app2 .item-image .input-wrap {
  justify-content: center;
  padding: 30px 0;
}
#app2 .item-image .input-wrap input {
  height: 70px;
}
#app2 .item-image .input-wrap input#app2Title,
#app2 .item-image .input-wrap input::placeholder {
  font-size: 42px;
  position: relative;
  top: 5px;
  font-family: "Bodoni Moda", cursive;
  color: rgb(237, 244, 79);
}
#app2 .item-image .input-wrap input::placeholder {
  color: rgb(237, 244, 79, 0.3);
}
#app2 .item-image .input-wrap.color {
  padding: 0;
  margin-top: -20px;
}

/* app3 */
#app3 .item-image {
  background-image: url("../images/app3_sample.webp");
}
#app3 .item-image .input-wrap {
  justify-content: center;
  align-items: center;
}
#app3 .item-image .input-wrap.color {
  padding-top: 160px;
}
#app3 .item-image .input-wrap input#app3Title {
  height: 90px;
}
#app3 .item-image .input-wrap input#app3Title,
#app3 .item-image .input-wrap input#app3Title::placeholder {
  font-size: 68px;
  position: relative;
  top: 5px;
  font-family: "Bodoni Moda", cursive;
  color: rgb(251, 240, 125);
}
#app3 .item-image .input-wrap input#app3Title::placeholder {
  color: rgb(251, 240, 125, 0.5);
}
#app3 .item-image .input-wrap input#app3Sub {
  color: rgba(255, 255, 255, 0.9);
}
#app3 .item-image .input-wrap input#app3Sub,
#app3 .item-image .input-wrap input#app3Sub::placeholder {
  margin-top: 10px;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.5);
}
#app3 .file-wrap label {
  bottom: -140px;
}
#app3 .selected-image-position {
  bottom: 160px;
}

/* app4 */
#app4 .item-image {
  background-image: url("../images/app4_sample.webp");
}
#app4 .item-image .input-wrap {
  justify-content: center;
  align-items: center;
}
#app4 .item-image .input-wrap.color {
  padding-top: 280px;
}
#app4 .item-image .input-wrap input#app4Title {
  height: 90px;
}
#app4 .item-image .input-wrap input#app4Title,
#app4 .item-image .input-wrap input#app4Title::placeholder {
  font-size: 32px;
  position: relative;
  top: 5px;
  font-family: "Pacifico", cursive;
  color: rgb(187, 221, 160);
}
#app4 .item-image .input-wrap input#app4Title::placeholder {
  color: rgb(187, 221, 160, 0.5);
}
#app4 .item-image .input-wrap input#app4Date {
  font-family: "Montserrat Alternates", sans-serif;
  color: rgba(255, 255, 255, 0.9);
}
#app4 .item-image .input-wrap input#app4Date,
#app4 .item-image .input-wrap input#app4Date::placeholder {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}
#app4 .file-wrap label {
  bottom: 100px;
}
#app4 .selected-image-position {
  bottom: 100px;
}

/* app5 */
#app5 .item-image {
  background-image: url("../images/app5_sample.webp");
}
#app5 .item-image .input-wrap {
  justify-content: center;
  align-items: center;
}
#app5 .item-image .input-wrap.color {
  padding-top: 160px;
}
#app5 .item-image .input-wrap input#app5Title {
  width: 95%;
  height: 100px;
}
#app5 .item-image .input-wrap input#app5Title,
#app5 .item-image .input-wrap input#app5Title::placeholder {
  font-size: 90px;
  position: relative;
  font-family: "Monoton", sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
#app5 .item-image .input-wrap input#app5Title::placeholder {
  color: rgb(255, 255, 255, 0.5);
}
#app5 .item-image .input-wrap input#app5Sub {
  width: 95%;
  height: 60px;
}
#app5 .item-image .input-wrap input#app5Sub,
#app5 .item-image .input-wrap input#app5Sub::placeholder {
  margin-top: 1px;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 27px;
  text-indent: 1.2rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255);
}
#app5 .item-image .input-wrap input#app5Sub::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#app5 .item-image .input-wrap input[type="date"] {
  width: 40%;
  margin-top: 40px;
  color: rgba(255, 255, 255, 0.9);
}
#app5 .file-wrap label {
  bottom: 180px;
}
#app5 .selected-image-position {
  bottom: 180px;
}

/* app6 */
#app6 .item-image {
  background-image: url("../images/app6_sample.webp");
}
#app6 .item-image .input-wrap {
  justify-content: center;
  align-items: center;
}
#app6 .item-image .input-wrap.color {
  padding-top: 160px;
}
#app6 .item-image .input-wrap input#app6Title {
  width: 90%;
  height: 100px;
}
#app6 .item-image .input-wrap input#app6Title,
#app6 .item-image .input-wrap input#app6Title::placeholder {
  font-size: 90px;
  position: relative;
  font-family: "Montserrat Subrayada", "Alfa Slab One", sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
#app6 .item-image .input-wrap input#app6Title::placeholder {
  color: rgb(255, 255, 255, 0.5);
}
#app6 .file-wrap label {
  bottom: 180px;
}
#app6 .selected-image-position {
  bottom: 180px;
}
#app6 .item-image .input-wrap.color label {
  color: #ccc;
}
#app6 .item-image .input-wrap.color label::before {
  content: '';
  font-family: "Alfa Slab One", sans-serif;
}