.gnb-wrap {
  width: 90%;
}
.gnb-logo {
  padding: 0 10px;
}
#logoPlus,
#logoTypo {
  font-size: 20px;
}
.main-container {
  width: 100%;
}
.item-wrap {
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  gap: 0;
}

.item-title {
  width: 90%;
  height: 100%;
  padding: 16px 0;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}
.item-title span {
  flex: 1 1 10%;
}
.item-title h2 {
  margin: 0;
  flex: 1 1 40%;
}
.sample {
  flex: 1 1 50%;
  align-items: flex-end;
}
.sample p {
  display: none;
}

nav {
  width: 100vw;
  height: 60px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  width: 90%;
  flex-direction: row;
  justify-content: flex-start;
}
nav ul li {
  display: flex;
}
nav ul li:last-child {
  padding-right: 20px;
}
nav ul li a {
  font-size: 0;
  color: transparent;
}

@media screen and (max-width: 520px) {
  .app-wrap,
  .item-result {
    scale: 0.9;
    margin: -5%;
  }
  .gnb-logo a {
    height: auto;
  }
}

@media screen and (max-width: 468px) {
  .app-wrap,
  .item-result {
    scale: 0.8;
    margin: -10%;
  }
}

@media screen and (max-width: 420px) {
  .app-wrap,
  .item-result {
    scale: 0.7;
    margin: -15%;
  }
}
