@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  /* font-weight: normal; */
  /* font-style: normal; */
}
@font-face {
  font-family: 'S-CoreDream-6Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
  /* font-weight: normal; */
  /* font-style: normal; */
}
.container {
  margin: auto;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 50px 60px 1fr 100px;
  width: 500px;
  height: 500px;
  background: url('/images/logo512.png') no-repeat center center / cover;
  border-radius: 5px;
}
.input-wrap label {
  display: none;
}
.temp-wrap {
  display: flex;
  justify-content: space-between;
}
.temp-wrap .input-wrap {
  display: flex;
}
.url-wrap {
  grid-column: 2/3;
  grid-row: 1/2;
}
.icon-wrap {
  grid-column: 1/2;
  grid-row: 2/3;
  opacity: 0;
}
.file-wrap {
  grid-column: 1/3;
  grid-row: 3/4;
  z-index: 1;
  display: flex;
}
.file-wrap #fileInput {
  display: none;
}
.date-wrap {
  grid-column: 1/2;
  grid-row: 4/5;
  align-self: end;
  margin-bottom: 5%;
}
.city-wrap {
  grid-column: 2/3;
  grid-row: 4/5;
}
.input-wrap.file-wrap .btn,
.btn {
  display: block;
  width: 150px;
  margin: auto;
  padding: 12px 24px;
  font-size: 18px;
  text-align: center;
  color: black;
  background-color: chartreuse;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
  transform: translateY(-2px);
}
input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  position: relative;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;
}

.container div.input-wrap input {
  display: inline-block;
  font-family: 'S-CoreDream-6Bold';
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin: 10px 0 0 10px;
  padding: 0;
  width: 80%;
  height: 30px;
  border: 2px solid chartreuse;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  outline: none;
}
.clearBtn {
  margin: 10px 0 0 1px;
  font-size: 8px;
  width: 20px;
  height: 20px;
  color: black;
  background: chartreuse;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.btn-wrap {
  width: 500px;
  margin: 20px auto;
}
.result-wrap {
  max-width: 500px;
  margin: auto;
  text-align: center;
}
#imageContainer canvas {
  width: 100%;
}
.result-wrap #download a {
  text-decoration: none;
}
.weather-icon-wrap {
  grid-column: 1/3;
  grid-row: 2/3;
  z-index: 1;
  width: 96%;
  height: 40px;
  margin: 10px auto;
  padding: 0 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.weather-icon-wrap li {
  list-style: none;
  width: 7%;
  cursor: pointer;
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}
.weather-icon-wrap li svg {
  width: 100%;
  height: 100%;
  fill: white;
}
.weather-icon-wrap li:hover svg {
  fill: chartreuse;
  scale: 1.2;
}