@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-6Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --text-b: #0F8EFF;
}

.temp-container {
  width: 500px;
}
.temp-image {
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 50px 60px 1fr 100px;
  width: 500px;
  height: 500px;
  background: #19202c url("./images/logo512.png") no-repeat center center / cover;
  border-radius: 5px;
}
.input-wrap label {
  display: none;
}
.input-wrap {
  display: flex;
  align-items: center;
}
.temp-wrap {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.temp-wrap .input-wrap {
  flex-basis: 100px;
}
.url-wrap {
  grid-column: 2/3;
  grid-row: 1/2;
}
.icon-wrap {
  grid-column: 1/2;
  grid-row: 2/3;
  opacity: 0;
}
.file-wrap {
  grid-column: 1/3;
  grid-row: 3/4;
  z-index: 1;
}
.file-wrap #fileInput {
  display: none;
}
.date-wrap {
  grid-column: 1/2;
  grid-row: 4/5;
  align-self: end;
  margin-bottom: 5%;
}
.city-wrap {
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  row-gap: 10px;
  margin-bottom: 5%;
}
.input-wrap.file-wrap .btn,
.btn {
  display: block;
  width: 150px;
  margin: auto;
  padding: 12px 24px;
  font-family: "S-CoreDream-3Light", sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: var(--text-b);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
  transform: translateY(-2px);
}
.btn.btn-dark {
  color: white;
  background-color: #19202c;
}
input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  position: relative;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;
}
.container div.input-wrap input::-webkit-input-placeholder {
  font-size: 14px;
}
.container div.input-wrap input::-moz-placeholder {
  font-size: 14px;
}
.container div.input-wrap input:-ms-input-placeholder {
  font-size: 14px;
}
.container div.input-wrap input::-ms-input-placeholder {
  font-size: 14px;
}
.container div.input-wrap input::placeholder {
  font-size: 14px;
}
.container div.input-wrap input:focus::-webkit-input-placeholder {
  color: transparent;
}
.container div.input-wrap input:focus::-moz-placeholder {
  color: transparent;
}
.container div.input-wrap input:focus:-ms-input-placeholder {
  color: transparent;
}
.container div.input-wrap input:focus::-ms-input-placeholder {
  color: transparent;
}
.container div.input-wrap input:focus::placeholder {
  color: transparent;
}
.container div.input-wrap input {
  display: inline-block;
  font-family: "S-CoreDream-6Bold", sans-serif;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-left: 10px;
  padding: 0;
  width: 80%;
  height: 30px;
  border: 1px solid var(--text-b);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  outline: none;
  z-index: 1;
}
.container div.input-wrap input#url,
.container div.input-wrap input#city,
.container div.input-wrap input#country {
  text-align: right;
  padding-right: 1rem;
}
#country {
  font-family: "S-CoreDream-3Light", sans-serif;
}
.clearBtn {
  margin-left: -10px;
  font-size: 8px;
  width: 20px;
  height: 20px;
  color: white;
  background: var(--text-b);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
.btn-wrap {
  width: 500px;
  margin: 20px auto;
}
.result-wrap {
  max-width: 500px;
  margin: auto;
  text-align: center;
}
#imageContainer canvas {
  width: 100%;
}
.result-wrap #download a {
  margin: 10px auto;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #19202c;
  border-bottom: 1px solid rgba(25, 32, 44, 0.7);
  border-bottom-right-radius: 23px;
}
.result-wrap #download a p {
  font-family: "S-CoreDream-6Bold", sans-serif;
  margin: 0;
}
.result-wrap #download a p span {
  font-family: "S-CoreDream-3Light", sans-serif;
  font-size: 12px;
  color: grey;
  margin-right: 20px;
}
.result-wrap #download a .btn {
  margin: 0;
}
.weather-icon-wrap {
  grid-column: 1/3;
  grid-row: 2/3;
  z-index: 1;
  width: 96%;
  height: 40px;
  margin: 10px auto;
  padding: 0 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.weather-icon-wrap li {
  list-style: none;
  width: 7%;
  cursor: pointer; /* Safari */
  transition: all 0.5s;
}
.weather-icon-wrap li svg {
  width: 100%;
  height: 100%;
  fill: white;
}
.weather-icon-wrap li:hover svg {
  fill: var(--text-b);
  scale: 1.2;
}
#selectedImage {
  grid-row: 1/3;
  grid-column: 1/5;
  position: absolute;
  width: 100%;
  height: 500px;
  display: flex;
  overflow: hidden;
  background-repeat: no-repeat;
}
#selectedImage img {
  position: relative;
  width: 100%;
  margin: auto;
  transition: transform 0.2s ease;
}
.selectedImagePosition {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.selectedImagePosition span {
  padding: 5px 8px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 13px;
  z-index: 2;
  display: none;
}
.selectedImagePosition #selectedImagePositionReset {
  top: 270px;
  left: 230px;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}